{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}

<div class="bgimg-1 display-container opacity-min" id="home">
    <div class="display-middle" style="white-space:nowrap;">
      <h1> Homepage </h1>
      <p> by: HeHeTeam</p>
    </div>
</div>

<br>

<!-- Container (About Section) -->
<div class="content container padding-64" id="about">
    <h3 class="center">ABOUT US</h3>
    <p class="center"><em></em></p>
    <p> <div class="row">
      <div class="col m6 center padding-large">
        <p><b><i class="fa fa-user margin-right"></i>Auryn Hanna Amelia</b></p><br>
        <img src="/static/hanna.PNG" class="round image opacity hover-opacity-off" alt="Photo of auryn" width="200" height="250">
</div>
<div class="col m6 hide-small padding-large">
  <br>
  <br>
  <br>
  <p>Welcome to our website. 
    Perkenalkan saya Auryn Hanna Amelia, I am an ordinary girl, suka membantu dan rajin menabung.
    u guys can find me on instagram or twitter!   
  </p>
  <a href="https://twitter.com/Hannauryn" target="_blank" class="fa fa-twitter"></a> <small> </small>
  <br>
</div>

<div class="content container padding-64" id="about2">
  <p class="center"><em></em></p>
  <p> <div class="row">
    <div class="col m6 center padding-large">
      <br>
      <br>
      <p><b><i class="fa fa-user margin-right"></i>Aldy Widanto</b></p><br>
      <img src="/static/aldy.jpeg" class="round image opacity hover-opacity-off" alt="Photo of Aldy" width="250" height="300">
</div>
<div class="col m6 hide-small padding-large">
  <br>
  <br>
  <br>
  <br>
  <p>
    Saya Aldy Widanto, merupakan salah satu dari bagian team ini. Disaat seperti ini, selain kuliah
    untuk mengisi kebosanan waktu saya suka bermain mobile legend.
    Find me on Mobile Legend, atau Twitter   
  </p>
  <a href="https://twitter.com/awdnto" target="_blank" class="fa fa-twitter"></a> <small> </small>
</div>

<div class="content container padding-64" id="about2">
  <p class="center"><em></em></p>
  <p> <div class="row">
    <div class="col m6 center padding-large">
      <br>
      <br>
      <p><b><i class="fa fa-user margin-right"></i>Fauzan Fadhlurrahman</b></p><br>
      <img src="/static/fauzan.jpg" class="round image opacity hover-opacity-off" alt="Photo of Fauzan" width="220" height="250">
</div>
<div class="col m6 hide-small padding-large">
  <br>
  <br>
  <br>
  <br>
  <p> 
    Halo nama saya Fauzan Fadhlurrahman, saya juga merupakan bagian dari team ini 
    u can find me on instagram untuk melihat hasil foto foto saya. Karena saya mempunyai hobi 
    fotografi. 
  </p>
  <a href="https://www.instagram.com/dibungkusatu/" target="_blank" class="fa fa-instagram"></a> <small> </small>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- kiri -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- kiri -->

    <!-- kanan -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
    <!-- kanan -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>HeHeTeam
          </h6>
          <p>
            Kami menciptakan sebuah webapp yaitu spam filtering, kenapa kita butuh ini?
            Spam berpotensi berbahaya. Alasan utama mengapa spam sangat penting untuk difilter adalah karena dapat berisi konten berbahaya yang dapat menyebarkan virus dan serangan dunia maya. 
            Satu email dapat dengan mudah menjatuhkan perusahaan besar, jadi bisnis membutuhkan keamanan terbaik yang bisa mereka dapatkan.

          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Teknologi yang digunakan
          </h6>
          <p>
            <a class="text-reset">HTML</a>
          </p>
          <p>
            <a class="text-reset">Bootstrap</a>
          </p>
          <p>
            <a class="text-reset">CSS</a>
          </p>
          <p>
            <a class="text-reset">Python</a>
          </p>
          <p>
            <a class="text-reset">Jinja Flask</a>
          </p>
          <p>
            <a class="text-reset">Naive Bayes</a>
          </p>
        </div>
        <!-- Grid column -->

  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">HeHeTeam</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}